*.pyc
*.os
*~
build_options.*
\.*
config.log
*.o
build*
_external/
core.*
\#*\#
!.gitignore
*.so
*.a
vgcore.*
indexlib/config.h
indexlib/config.cpp
data
testdata/*Test/
testdata/*TestE/
error_log_collector.log
coro_trace.log
*.log
test.h
*.pcm
*.out
